$dresden_dream: hsl(201, 20%, 63%);
$seaofcrete: #1095DF;
$neptune_wrath: #0C405C;

$light_white: rgba(255,255,255,70%);
$neptune_wrath: #0C405C;
$pomegranate: #E94E1B;
$cerulean: #1095DF;
$omegranate: #E94E1B;
$amaranth: #F12E45;